/* primary color #b30753 */
/* secondary color #ffffff */

*{
  margin: 0px;
  padding: 0px;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.cs-btn-primary{
    background-color: #b30753;
    color: white;
}

.cs-btn-secondary{
    color: #b30753;
    background-color: white;
}

.cs-text-primary{
  color: #b30753;
}
